/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-image: url('../assets/img/dawn.png');
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    body {
      background-image: url('../assets/img/night.jpg');
    }
  }

  @media (min-width: 992px) {
    body {
      background-image: url('../assets/img/sunny-day.jpg');
      background-size: auto;
    }
  }

